body {
  background-color: #FFCCBB;
  margin-top: 100px;
}

header {
  padding: 2pt 30pt;
  width: 100%;
  height: 90px;
  white-space: nowrap;
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-color: Gray;
  background-color: #FA8072;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 34pt;
  margin: 10pt;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26pt;
  font-weight: bold;
}

h3 {
  font-family: "Cinzel Decorative", "Lucida Sans Unicode", sans-serif;
  font-size: 18pt;
}

th, td {
  white-space: nowrap;
  table-layout: fixed;
  padding: 4px;
  border-style: solid;
  border-width: thin;
}

thead, tfoot {
  font-weight: bold;
}

.formholder {
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.flabel {
  flex: initial;
}

.ffield {
  flex: 1;
}

.content_block {
  overflow: auto;
  font-family: 'Palatino Linotype', serif;
  background-color: #FFA07A;
  /*display: block;*/
  padding: 5pt 30pt;
  margin: 20px 0;
  border-style: double;
}

.data {
  font-family: verdana, sans-serif;
}
